*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0b0f17;
    overflow:hidden;
    position:relative;
}

/* Background Glow */

body::before{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:radial-gradient(circle,
    rgba(34,197,94,.25),
    transparent 70%);
    top:-150px;
    left:-150px;
    filter:blur(80px);
}

body::after{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:radial-gradient(circle,
    rgba(34,197,94,.18),
    transparent 70%);
    bottom:-150px;
    right:-150px;
    filter:blur(80px);
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-card{
    width:100%;
    max-width:430px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:40px;
    position:relative;
    z-index:10;
}

.logo{
    text-align:center;
    color:#22c55e;
    font-size:1.7rem;
    font-weight:800;
    margin-bottom:20px;
}

.login-card h1{
    color:white;
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#94a3b8;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    color:#e2e8f0;
    margin-bottom:8px;
    font-size:.95rem;
}

.input-group input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    background:rgba(255,255,255,.08);
    color:white;
    border:1px solid transparent;
}

.input-group input:focus{
    border-color:#22c55e;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    color:#cbd5e1;
    font-size:.9rem;
}

.options a{
    color:#22c55e;
    text-decoration:none;
}

.login-btn{
    width:100%;
    border:none;
    cursor:pointer;
    padding:15px;
    border-radius:12px;
    color:white;
    font-weight:700;
    background:linear-gradient(
        135deg,
        #22c55e,
        #16a34a
    );
    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-2px);
}

.divider{
    text-align:center;
    color:#94a3b8;
    margin:20px 0;
}

.google-btn{
    width:100%;
    padding:15px;
    border-radius:12px;
    border:1px solid rgba(255,255,255,.1);
    background:transparent;
    color:white;
    cursor:pointer;
}

.register-text{
    text-align:center;
    margin-top:25px;
    color:#94a3b8;
}

.register-text a{
    color:#22c55e;
    text-decoration:none;
}

.back-home{
    display:block;
    text-align:center;
    margin-top:20px;
    color:#22c55e;
    text-decoration:none;
}